.shipper-detail{
    width: 100%;
    /* background-color: white !important; */
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9) !important;
}

.shipper-detail-show{
    width: 60%;
    background: rgba(255, 255, 255, 0.652) !important;
    /* box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); */
    border-radius: 10px;
    margin-top: 50px;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
}

.detail-info-image img {
    width: 350px;
    height: 350px;
}

.detail-info{
    display: flex;
}

.detail-info-detail-name{
    font-size: 35px;
    font-weight: bold;
}


.shipper-comment_root{
    margin-top: 50px;
}

.shipper-comment_root img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}